<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIGA V1</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</head>

@*<body data-bind=" css: {xxs: layoutVM.viewport()=='xxs', xs:  layoutVM.viewport()=='xs', sm:  layoutVM.viewport()=='sm', md:  layoutVM.viewport()=='md', lg:  layoutVM.viewport()=='lg'}">*@
<body>
    
    <div id="viewport-sizes">
        <div class="viewport visible-xxs hidden-xs hidden-sm  hidden-md  hidden-lg ">xxs</div>
        <div class="viewport hidden-xxs visible-xs hidden-sm  hidden-md  hidden-lg ">xs</div>
        <div class="viewport hidden-xxs hidden-xs  visible-sm hidden-md  hidden-lg ">sm</div>
        <div class="viewport hidden-xxs hidden-xs  hidden-sm  visible-md hidden-lg ">md</div>
        <div class="viewport hidden-xxs hidden-xs  hidden-sm  hidden-md visible-lg ">lg</div>
    </div>

    <script>
        $(document).ready(function () {
            layoutVM = new layoutViewModel();
            ko.applyBindings(layoutVM);
        });
    </script>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sistema Integrado de Gestion Academica", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div id="menuMain" data-bind="template: 'menuMainTemplate'"></div>

    <div id="breadCrumb" class="withMenu" data-bind="template: 'breadCrumTemplate'">
    </div>

    <div id="mainContainer" class="withMenu body-content">
        @RenderBody()
    </div>

</body>
</html>

<script type="text/html" id="menuMainTemplate">

    <ul id="ul-menu">
        <li id="connectedUser">
            <a href="#">
                <i class="fa fa-user fa-lg"></i>
            </a>
        </li>
        <li class="menuMainHeader">
            <span><i class="fa fa-wrench acordion-icon fa-lg"></i>&nbsp;&nbsp;Soporte</span>
            <a href="#soporteMenuCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="soporteMenuCollapse">
                <i class="fa fa-plus-square-o pull-right plus-collapse"></i>
            </a>
            <div class="collapse menuMainHeaderItems" id="soporteMenuCollapse">
                <ul data-bind="foreach: soporteMenuitems">
                    <li>
                        <a data-bind="text: name, click: $root.menuClick"></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="menuMainHeader">
            <span><i class="fa fa-cogs fa-lg"></i>&nbsp;&nbsp;Procesos</span>
            <a href="#procesoMenuCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="procesoMenuCollapse">
                <i class="fa fa-plus-square-o pull-right plus-collapse"></i>
            </a>
            <div class="collapse menuMainHeaderItems" id="procesoMenuCollapse">
                <ul data-bind="foreach: procesoMenuitems">
                    <li>
                        <a data-bind="text: name, click: $root.menuClick"></a>
                    </li>
                </ul>
            </div>
        </li>
        @*<li>
            <span><i class="fa fa-calendar fa-lg"></i>&nbsp;&nbsp;Horarios</span>
            <a href="#horarioMenuCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="horarioMenuCollapse">
                <i class="fa fa-plus-square-o pull-right plus-collapse"></i>
            </a>
            <div class="collapse collapse-custom" id="horarioMenuCollapse">
                <ul data-bind="foreach: horarioMenuitems">
                    <li>
                        <a data-bind="text: name, click: $root.menuClick"></a>
                    </li>
                </ul>
            </div>
        </li>*@
        <li class="menuMainHeader">
            <span><i class="fa fa-credit-card fa-lg"></i>&nbsp;&nbsp;Pagos</span>
            <a href="#pagoMenuCollapse" data-toggle="collapse" aria-expanded="false" aria-controls="pagoMenuCollapse">
                <i class="fa fa-plus-square-o pull-right plus-collapse"></i>
            </a>
            <div class="collapse menuMainHeaderItems" id="pagoMenuCollapse">
                <ul data-bind="foreach: pagoMenuitems">
                    <li>
                        <a data-bind="text: name, click: $root.menuClick"></a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</script>

<script type="text/html" id="breadCrumTemplate">

    <div class="row">
        <div class="col-lg-12">
            Home
        </div>
    </div>

</script>


<div class="container confirm" style="display:none" data-bind="visible: layoutVM.confirmDialog">
    <div>
        <div class="row title  layoutVM.popover_title">
            <div class="col-xs-12">
                <span data-bind="text: layoutVM.confirmTitle" class="title" style="font-weight:bold"></span>
            </div>
        </div>
        <div class="row" style="padding-top:20px;">
            <div class="col-xs-12">
                <span class="content" data-bind="text: layoutVM.confirmMessage" style="white-space:pre-wrap;display:inline-block"></span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:30px;">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <button class="btn btn-md form-control " data-bind="click: function(){layoutVM.confirmTarget(layoutVM.confirmTargetObject);layoutVM.clearConfirm();},text:confirmButtonOk">Si</button>
            
        </div>
        <div class="col-xs-4">
            <button class="btn btn-md form-control " data-bind="click: function(){layoutVM.clearConfirm();},text:confirmButtonCancel">No</button>
        </div>
    </div>
</div>
<div class="container alertPopover " style="display:none" data-bind="visible: layoutVM.alertDialog">
    <div>
        <div class="row title  layoutVM.popover_title">
            <div class="col-xs-12">
                <span data-bind="text: layoutVM.alertTitle" class="title"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <span class="content" data-bind="text: layoutVM.alertMessage" style="white-space:pre-wrap;display:inline-block"></span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:20px; z-index:2000">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <button class="btn btn-md form-control " data-bind="click: function(){layoutVM.clearAlert();}">Yes</button>
        </div>
    </div>
</div>
<div class="container popover-error " style="display:none" data-bind="visible: layoutVM.errorMessage">
    <div class="pull-right pointer" data-bind="click: function(){layoutVM.errorMessage(false)}"><i class="fa fa-times-circle"></i></div>
    <div id="popover-error-body"></div>
</div>