@model IEnumerable<SIGA_Model.Programacion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgFechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aula.AulCapacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario.HorDia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modulo.ModNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgFechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aula.AulCapacidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario.HorDia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.ModNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
