@model SIGA_Model.Recibo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles <small>Recibo</small></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.Raw("Alumno")
        </dt>

        <dd>
            @Html.Raw(ViewBag.AlumnoNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.CurName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.CurName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modulo.ModNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modulo.ModNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.RecId }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
