@model IEnumerable<SIGA_Model.ModuloCurso>

@{
    ViewBag.Title = "CursoList";
}

<h2>CursoList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModCurRegistroId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCFechaRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.CurName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modulo.ModNombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModCurRegistroId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCFechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.CurName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.ModNombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
