@model SIGA.Models.Profesor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prof_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof_Rpm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Rpm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof_Nextel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Nextel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prof_Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prof_Especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Cur_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Cur_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.User_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
