@*<div class="form-group">
    <div class="col-md-2 control-label">Nombre:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Nombre, new { @class = "form-control  module-input", @id = "per_Nombre" })
        <div class="row">
            <div id="per_Nombre" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Apellido Paterno:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_ApePaterno, new { @class = "form-control  module-input", @id = "per_apepaterno" })
        <div class="row">
            <div id="per_apepaterno" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Apellido Materno:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_ApeMaterno, new { @class = "form-control  module-input", @id = "per_apematerno" })
        <div class="row">
            <div id="per_apematerno" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Email:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Email, new { @class = "form-control  module-input", @id = "email" })
        <div class="row">
            <div id="email" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Dni:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Dni, new { @class = "form-control  module-input", @id = "dni" })
        <div class="row">
            <div id="dni" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">DNI:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Dir, new { @class = "form-control  module-input", @id = "dni" })
        <div class="row">
            <div id="dni" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Celular:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Cel, new { @class = "form-control  module-input", @id = "per_cel" })
        <div class="row">
            <div id="per_cel" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Telefono:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Tel, new { @class = "form-control  module-input", @id = "per_tel" })
        <div class="row">
            <div id="per_tel" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Sexo:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Per_Sexo, new { @class = "form-control  module-input", @id = "per_sexo" })
        <div class="row">
            <div id="per_sexo" class="validation-text"></div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-2 control-label">Tipo Usuario:</div>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.TipoUser_Descrip, new { @class = "form-control  module-input", @id = "tipouser_descrip" })
        <div class="row">
            <div id="tipouser_descrip" class="validation-text"></div>
        </div>
    </div>
</div>*@