@model SIGA.Models.ViewModels.UsuarioViewModel

@{
    var isCreating = Model.User_Id == 0;
    ViewBag.Title = (isCreating) ? "CreateUsuario" : "CreateUsuario";
}

<div id="UsuarioCreateContainer">

    <div data-bind="visible: !saveCompleted()">

        <h2>Create</h2>

        @using (Html.BeginForm("CreateUsuario", "Usuario", FormMethod.Post, new { data_bind = "submit: valiadteAndSave" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Nombre, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Nombre" } })
                        @Html.ValidationMessageFor(model => model.Per_Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_ApePaterno, "Apellido Paterno", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_ApePaterno, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_ApePaterno" } })
                        @Html.ValidationMessageFor(model => model.Per_ApePaterno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_ApeMaterno, "Apellido Materno", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_ApeMaterno, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_ApeMaterno" } })
                        @Html.ValidationMessageFor(model => model.Per_ApeMaterno, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Sexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Sexo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Sexo" } })
                        @Html.ValidationMessageFor(model => model.Per_Sexo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Dni, "DNI", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Dni, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Dni" } })
                        @Html.ValidationMessageFor(model => model.Per_Dni, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Dir, "Direccion", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Dir, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Dir" } })
                        @Html.ValidationMessageFor(model => model.Per_Dir, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Cel, "Celular", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Cel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Cel" } })
                        @Html.ValidationMessageFor(model => model.Per_Cel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Tel, "Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Tel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Tel" } })
                        @Html.ValidationMessageFor(model => model.Per_Tel, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Per_Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Per_Email, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.Per_Email" } })
                        @Html.ValidationMessageFor(model => model.Per_Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.User_Nombre, "Nombre de Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.User_Nombre, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuario.User_Nombre" } })
                        @Html.ValidationMessageFor(model => model.User_Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" data-bind="visible: !sending()">
                        <input type="submit" value="@if (isCreating) { @Html.Raw("CreateUsuario") } else { @Html.Raw("CreateUsuario") }" class="btn btn-default" />
                    </div>

                    <div class="progress" data-bind="visible: sending">
                        <div class="progress-bar progress-bar-info progress-bar-striped active"
                             role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"
                             style="width: 100%">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>

</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@*<script src="~/Scripts/Siga/Usuario/usuario.js"></script>*@

@*<script>
    $(document).ready(function () {
        viewModel = new usuarioViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel, $('#UsuarioCreateContainer')[0]);
    });
</script>*@
    
@section Scripts {
    @Scripts.Render("~/Scripts/Siga/Usuario/usuario.js")
    <script>
        debugger
        var viewModel = new usuarioViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>
}