@model SIGA.Models.ViewModels.UsuarioViewModel

@{
    var isCreating = Model.UsuarioItem.User_Id == 0;
    ViewBag.Title = (isCreating) ? "Create" : "Edit";
}

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div id="CreateUsuarioContainer">

    <div data-bind="visible: !saveCompleted()">

        @using (Html.BeginForm("Create", "Usuario", new { @id = "CreateUsuarioContainer" }, FormMethod.Post, new { data_bind = "submit: validateAndSave" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*<div class="row">
                <div class="col-lg-12" data-bind="visible: showActionResponseContent()">
                    <div class="alert alert-success">
                        <strong>Success!</strong> El Usuario fue guardado con exito.
                    </div>
                </div>
            </div>*@

            <div class="panel panel-default">
                <div class="panel-heading">Datos Generales</div>
                <div class="panel-body sectionPanelContainer">
                    <div class="row paddingBottom5px">
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Nombre, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Nombre" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_ApePaterno, "Paterno", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_ApePaterno, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_ApePaterno" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_ApePaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_ApeMaterno, "Materno", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_ApeMaterno, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_ApeMaterno" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_ApeMaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingBottom5px">
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Email, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Email" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Dni, "DNI", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Dni, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Dni" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Dni, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Dir, "Direccion", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Dir, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Dir" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Dir, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row paddingBottom5px">
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Cel, "Celular", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Cel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Cel" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Cel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Tel, "Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Tel, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Tel" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Tel, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UsuarioItem.Per_Sexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UsuarioItem.Per_Sexo, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.Per_Sexo" } })
                                    @Html.ValidationMessageFor(model => model.UsuarioItem.Per_Sexo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tipoUsuarioPanel" class="panel panel-default">
                <div class="panel-heading">Tipo de Usuario</div>
                <div class="panel-body sectionPanelContainer">
                    <div class="row">
                        <div class="col-lg-12">

                            <ul class="nav nav-tabs">
                                <li id="liAlumno" role="presentation"><a data-bind="click: function () { setTipoUsuarioSelected('Alumno') }">Alumno</a></li>
                                <li id="liProfesor" role="presentation"><a data-bind="click: function () { setTipoUsuarioSelected('Profesor') }">Profesor</a></li>
                                <li id="liAdministrador" role="presentation"><a data-bind="click: function () { setTipoUsuarioSelected('Administrador') }">Administrador</a></li>
                            </ul>

                            <div class="row">
                                <br />
                                <div class="col-lg-12">
                                    <div data-bind="visible: tipoUsuarioSelected() == 'Alumno'">
                                        <div class="row">
                                            <div class="col-lg-3 text-center">
                                                <a href="#" class="thumbnail center-block" style="width:150px;height:150px">
                                                    <img src="~/Content/images/usuario.png" />
                                                </a>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="row paddingBottom5px">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.UsuarioItem.User_Nombre, "Usuario Alias", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.UsuarioItem.User_Nombre, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.User_Nombre" } })
                                                            @Html.ValidationMessageFor(model => model.UsuarioItem.User_Nombre, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row paddingBottom5px">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.UsuarioItem.AlumnoItem.Alu_FechaIngreso, "Fecha Ingreso", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.UsuarioItem.AlumnoItem.Alu_FechaIngreso, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.AlumnoItem.Alu_FechaIngreso" } })
                                                            @Html.ValidationMessageFor(model => model.UsuarioItem.AlumnoItem.Alu_FechaIngreso, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row paddingBottom5px">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.UsuarioItem.AlumnoItem.Alu_FechaRegistro, "Fecha Registro", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.UsuarioItem.AlumnoItem.Alu_FechaRegistro, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.AlumnoItem.Alu_FechaRegistro" } })
                                                            @Html.ValidationMessageFor(model => model.UsuarioItem.AlumnoItem.Alu_FechaRegistro, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row paddingBottom5px">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.UsuarioItem.AlumnoItem.Alu_Apoderado, "Apoderado", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
                                                        <div class="col-md-9">
                                                            @Html.EditorFor(model => model.UsuarioItem.AlumnoItem.Alu_Apoderado, new { htmlAttributes = new { @class = "form-control", data_bind = "value: usuarioData.UsuarioItem.AlumnoItem.Alu_Apoderado" } })
                                                            @Html.ValidationMessageFor(model => model.UsuarioItem.AlumnoItem.Alu_Apoderado, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-bind="visible: tipoUsuarioSelected() == 'Profesor'">
                                        <h1>Profesor</h1>
                                    </div>
                                    <div data-bind="visible: tipoUsuarioSelected() == 'Administrador'">
                                        <h1>Administrador</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-lg-12" data-bind="visible: !sending()">
                    <input type="submit" value="@if (isCreating) { @Html.Raw("Crear Usuario") } else { @Html.Raw("Actualizar Usuario") }" class="btn btn-success" />
                </div>

                <div class="progress" data-bind="visible: sending">
                    <div class="progress-bar progress-bar-info progress-bar-striped active"
                         role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"
                         style="width: 100%">
                        <span class="sr-only"></span>
                    </div>
                </div>
            </div>
        }

    </div>

</div>

<script src="@Url.Content("/Scripts/Siga/Usuario/usuarioDTO.js")" type="text/javascript"></script>

<script>

    $(document).ready(function(){
        var usuarioVM = new usuarioViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(usuarioVM, $('#CreateUsuarioContainer')[0]);
    });

</script>


