@model SIGA.Models.ViewModels.UsuarioViewModel


@using (Ajax.BeginForm("Edit", "UsuarioChange", new { id = Model.UsuarioData.User_Id }, new AjaxOptions { UpdateTargetId = "mainContainer" }, new { @id = "UsuarioForm" }))
{

    @Html.HiddenFor(m => m.UsuarioData.User_Id);

    <div class="panel panel-default">
        <div class="panel-heading">Datos Generales</div>
        <div class="panel-body sectionPanelContainer">
            <div class="row">
                <div class="col-lg-4">

                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Nombre, new { htmlAttributes = new { @class = "form-control", @id = "per_nombre" } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_ApePaterno, "Paterno", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_ApePaterno, new { htmlAttributes = new { @class = "form-control", @id = "per_apepaterno" } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_ApeMaterno, "Materno", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_ApeMaterno, new { htmlAttributes = new { @class = "form-control", @id = "per_apematerno" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Email, new { htmlAttributes = new { @class = "form-control", @id = "per_email" } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Dni, "DNI", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Dni, new { htmlAttributes = new { @class = "form-control", @id = "per_dni" } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Dir, "Direccion", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Dir, new { htmlAttributes = new { @class = "form-control", @id = "per_dir" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Cel, "Celular", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Cel, new { htmlAttributes = new { @class = "form-control", @id = "per_cel" } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Tel, "Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Tel, new { htmlAttributes = new { @class = "form-control", @id = "per_tel" } })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UsuarioData.Per_Sexo, "Sexo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UsuarioData.Per_Sexo, new { htmlAttributes = new { @class = "form-control", @id = "per_sexo" } })
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(model => model.UsuarioData.TipoUser_Descrip, "Tipo de Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UsuarioData.TipoUser_Descrip, new { htmlAttributes = new { @class = "form-control", @id = "tipouser_descrip" } })
                    </div>
                </div>*@

            </div>
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-green btn-uppercase cancel">Save</button>
            @*<span class="btn btn-grey btn-uppercase cancel" onclick="modulePaneLoad('', '@Model.ModuleItemGuid')">Cancel</span>*@
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">

    //var moduleSubmit = function () {
    //    $('#UsuarioForm').submit();
    //    return true;
    //}

    $(document).ready(function () {

        $('#UsuarioForm').attr('action', '@SIGA.Helpers.Utils.GetBaseUrl()/usuario/edit/@Model.UsuarioData.User_Id')
        
        //$("#mainContainer").load('/Usuario/GetDetails?userid=' + @Model.UsuarioData.User_Id);

    });

</script>

